<h1>Welcome To Bukit Nanas!</h1>
<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<h2>Products</h2>
<div id="products">
  <%= render @products %>
</div>


<%= link_to "Add a New Product", "/products/new" %>


